@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.card {
  align-self: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  min-height: 450px;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 50px 0.1px rgba(0, 0, 0, 0.1);
}

.card__qrcode img {
  width: 100%;
  border-radius: 1rem;
}

.card__text {
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 1.8rem 1rem;
}

.card__text h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card__text p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 1rem;
}

.attribution {
  display: none;
}
